[Unit]
Description=Network abstraction initiation
After=opx-cps.service
Requires=opx-cps.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/python -u /usr/bin/base_nas_default_init.py
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
