[Unit]
Description=Network abstraction service
After=opx-platform-init.service opx-cps.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStartPre=/usr/bin/bcm_mod_init.sh
ExecStart=/usr/bin/opx_nas_daemon

# Resource Limitations
LimitCORE=infinity
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
