[Unit]
Description=Network abstraction initiation
After=opx-create-interface.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/base_nas_default_init.sh
RemainAfterExit=yes

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
