[Unit]
Description=Network abstraction service
After=opx-pas.service opx-cps.service
Requires=opx-pas.service opx-cps.service
OnFailure=service_onfailure@%n.service

[Service]
Type=notify
EnvironmentFile=/etc/opx/opx-environment
EnvironmentFile=-/etc/opx/opx-npu-settings
ExecStartPre=/usr/bin/dn_rules.sh
ExecStart=/usr/bin/opx_nas_daemon
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
