Source: opx-nas-daemon
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev,libopx-cps-dev,libopx-logging-dev,libopx-base-model-dev,libopx-nas-acl-dev,libopx-nas-common-dev,libopx-nas-interface-dev,libopx-nas-l2-dev,libopx-nas-l3-dev,libopx-nas-linux-dev,libopx-nas-platform-s6000-1,libopx-nas-qos-dev,libsystemd-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-daemon
Vcs-Git: https://github.com/open-switch/opx-nas-daemon.git

Package: opx-nas-daemon
Architecture: any
Depends: libopx-logging1,libopx-common1,libopx-base-model1,libopx-cps1,python-opx-cps,opx-cps,libopx-nas-common1,libopx-nas-ndi1,libopx-nas-linux1,libopx-nas-interface1,libopx-nas-acl1,libopx-nas-l2-1,libopx-nas-l3-1,libopx-nas-qos1,libopx-nas-platform-s6000-1,libopx-sai-common-utils1,libopx-sai-common1
Description: This package contains the Network Abstraction service.
