Source: opx-nas-daemon
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.4.0),
               libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),libopx-base-model-dev (>= 3.109.0),
               libopx-nas-acl-dev (>= 2.3.0),libopx-nas-common-dev (>= 6.1.0),libopx-nas-interface-dev (>= 5.10.1),
               libopx-nas-l2-dev (>= 1.17.0),libopx-nas-l3-dev (>= 3.2.0),libopx-nas-linux-dev (>= 5.11.0),
               libopx-nas-qos-dev (>= 2.2.0),libsystemd-dev,libopx-nas-multicast-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-daemon
Vcs-Git: https://github.com/open-switch/opx-nas-daemon.git

Package: opx-nas-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libopx-logging1 (>= 2.1.0),libopx-common1 (>= 1.4.0),libopx-base-model1 (>= 3.109.0),
        libopx-cps1 (>= 3.6.2),python-opx-cps (>= 3.6.2),opx-cps (>= 3.6.2),libopx-nas-common1 (>= 6.1.0),
        libopx-nas-ndi1 (>= 3.26.0),libopx-nas-linux1 (>= 5.11.0),libopx-nas-interface1 (>= 5.10.1),
        libopx-nas-acl1 (>= 2.3.0),libopx-nas-l2-1 (>= 1.17.0),libopx-nas-l3-1 (>= 3.2.0),libopx-nas-qos1 (>= 2.2.0),libopx-nas-multicast1
Description: This package contains the Network Abstraction service.
