Source: opx-nas-daemon
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.3.0),
               libopx-cps-dev (>= 3.6.0),libopx-logging-dev (>= 2.0.0),libopx-base-model-dev (>= 3.55.0),
               libopx-nas-acl-dev (>= 1.3.1),libopx-nas-common-dev (>= 3.3.0),libopx-nas-interface-dev (>= 4.4.1),
               libopx-nas-l2-dev (>= 1.12.0),libopx-nas-l3-dev (>= 2.2.0),libopx-nas-linux-dev (>= 4.8.0),
               libopx-nas-qos-dev (>= 1.3.0),libsystemd-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-daemon
Vcs-Git: https://github.com/open-switch/opx-nas-daemon.git

Package: opx-nas-daemon
Architecture: any
Depends: libopx-logging1,libopx-common1,libopx-base-model1,libopx-cps1,python-opx-cps (>= 3.6.0),
         opx-cps (>= 3.6.0),libopx-nas-common1,libopx-nas-ndi1,libopx-nas-linux1,
         libopx-nas-interface1,libopx-nas-acl1,libopx-nas-l2-1,libopx-nas-l3-1,libopx-nas-qos1
Description: This package contains the Network Abstraction service.
